* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 100%;
    font-family: "Rimouski";
}

.sunset-sunrise-container {
    font-family: "Rimouski";
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.sunrise {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: xx-large;
    width: 100%;
    height: 100%;
}

.sunset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: xx-large;
    width: 100%;
    height: 100%;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    width: 40%;
    height: 100%;
}

#timestamp {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    margin-right: 30%;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.clock {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

#date {
    align-items: top;
    text-decoration: none;
    font-size: x-large;
}

#time {
    justify-content: center;
    text-decoration: none;
    font-size: xx-large;
}

.weather-container {
    font-family: "Rimouski";
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.weather-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
}

#wicon {
    height: 100%
}

.temperature-description {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.temperature-value {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.forecast-container {
    font-family: "Rimouski";
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.forecast-0 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: xx-large;
    width: 100%;
    height: 100%;
}

.forecast-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: xx-large;
    width: 100%;
    height: 100%;
}

.forecast-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: xx-large;
    width: 100%;
    height: 100%;
}

#day {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

#min-temperature-value-forecast {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

#max-temperature-value-forecast {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

#wiconbox-forecast {
    display: flex;
    font-size: medium;
    justify-content: center;
}

#temperature-description-forecast {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    text-align: center;
}

.foo-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    flex-direction: row;
}

.foo-blue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: blue;
}

.foo-green {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: green;
}

.foo-grey {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: black;
}

.foo-yellow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: yellow
}

#foo-date {
    color: white;
    font-size: x-large;
}

.temp-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "el-1 el-2";
    height: 100%;
    width: 100%;
}

.headline {
    text-align: center;
    color: white;
}

.temperature {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#text {
    font-size: x-large;
    color: white;
}

#icon {
    color: grey;
}

#value {
    color: white;
    font-size: xx-large;
    display: flex;
    align-items: center;
}

/** Grid Layout */

.root {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(+35deg, #0e0f11 40%, #1c2329 100%);
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 20% 20% 10% 20% 30%;
    grid-template-areas: "sunset-sunrise header weather weather" "foo foo weather weather" "foo foo forecast forecast" "temp temp forecast forecast" "spotify spotify forecast forecast";
    font-family: 'Montserrat', sans-serif;
}

.sunset-sunrise {
    grid-area: sunset-sunrise;
    background-image: linear-gradient(+35deg, #191b1f 40%, #1c2329 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

.header {
    grid-area: header;
    background-image: linear-gradient(+35deg, #191b1f 40%, #1c2329 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

.weather {
    grid-area: weather;
    background-image: linear-gradient(+35deg, #191b1f 40%, #1c2329 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.forecast {
    grid-area: forecast;
    background-image: linear-gradient(+35deg, #191b1f 40%, #1c2329 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.foo {
    grid-area: foo;
    background-image: linear-gradient(+35deg, #191b1f 40%, #1c2329 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.temp {
    grid-area: temp;
    margin-top: 10px;
    margin-left: 10px;
}

.temp-el-inside {
    grid-area: el-1;
    background-image: linear-gradient(+35deg, #191b1f 40%, #1c2329 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.temp-el-outside {
    grid-area: el-2;
    background-image: linear-gradient(+35deg, #191b1f 40%, #1c2329 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.light {
    grid-area: light;
    /*background-image: linear-gradient(+35deg, #191b1f 40%, #1c2329 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.spotify {
    grid-area: spotify;
    background-image: linear-gradient(+35deg, #191b1f 40%, #1c2329 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}