
<html>
  <head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'dashboard.css') }}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="root">
      <div class="header">
        <div class="header-container">
          <div class="clock">
            <div id="date"></div>
            <div id="time"></div>
          </div>
          <div class="bin">
            <div id="bin-logo">
              <img src="https://img.icons8.com/android/144/000000/trash.png"/>
            </div>
            <div id="bin-date">20.12</div>
          </div>
        </div>
      </div>
      <div class="weather">
        <div class="weather-container">
        </div>
      </div>
      <div class="forecast">
        <div class="forecast-container">
        </div>
      </div>
      <div class="foo">
        <div class="foo-container">
          <details>
            <summary></summary>
            <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
          </details>
        </div>
      </div>
      <div class="temp">
        <div class="temp-container">
          <details>
            <summary></summary>
            <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
          </details>
        </div>
      </div>
      <div class="light">
        <div class="light-container">
          <details>
            <summary></summary>
            <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
          </details>
        </div>
      </div>
      <div class="spotify">
        <div class="spotify-container">
          <details>
            <summary></summary>
            <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
          </details>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename = 'clock.js') }}"></script>
  </body>
  </html>
