<html>

<head>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'dashboard.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename = 'Rimouski.css') }}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <div class="root">
    <div class="sunset-sunrise">
      <div class="sunset-sunrise-container">
        <div class="sunrise">
          <div id="logo">
            <img id="sunicon" src="/static/svg-icons/01d.svg" alt="sun icon">
          </div>
          <div id="timestamp">13:13</div>
        </div>
        <div class="sunset">
          <div id="logo">
            <img id="sunicon" src="/static/svg-icons/01n.svg" alt="sun icon">
          </div>
          <div id="timestamp">15:15</div>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="header-container">
        <div class="clock">
          <div id="date"></div>
          <div id="time"></div>
        </div>
      </div>
    </div>
    <div class="weather">
      <div class="weather-container">
        <div class="weather-icon">
          <img id="wicon" src="icons/unknown.png" alt="Weather icon">
        </div>
        <div class="temperature-description">
          <p>-</p>
        </div>
        <div class="temperature-value">
          <p>o<span>C</span></p>
        </div>
      </div>
    </div>
    <div class="forecast">
      <div class="forecast-container">
        <div class="forecast-0">
          <div id="day">123</div>
          <div id=wiconbox-forecast>
            <img id="wicon-forecast" src="icons/unknown.png" alt="Weather icon">
          </div>
          <div id="min-temperature-value-forecast"></div>
          <div id="max-temperature-value-forecast"></div>
          <div id="temperature-description-forecast"></div>

        </div>
        <div class="forecast-1">
          <div id="day"></div>
          <div id=wiconbox-forecast>
            <img id="wicon-forecast" src="icons/unknown.png" alt="Weather icon">
          </div>
          <div id="min-temperature-value-forecast"></div>
          <div id="max-temperature-value-forecast"></div>
          <div id="temperature-description-forecast"></div>
        </div>
        <div class="forecast-2">
          <div id="day"></div>
          <div id=wiconbox-forecast>
            <img id="wicon-forecast" src="icons/unknown.png" alt="Weather icon">
          </div>
          <div id="min-temperature-value-forecast"></div>
          <div id="max-temperature-value-forecast"></div>
          <div id="temperature-description-forecast"></div>
        </div>
      </div>
    </div>
    <div class="foo">
      <div class="foo-container">
        <div class="foo-blue">
          <div id="foo-logo">
            <i class="far fa-trash-alt fa-5x"></i>
          </div>
          <div id="foo-date">
            20.12
          </div>
        </div>
        <div class="foo-green">
          <div id="foo-logo">
            <i class="far fa-trash-alt fa-5x"></i>
          </div>
          <div id="foo-date">
            20.12
          </div>
        </div>
        <div class="foo-grey">
          <div id="foo-logo">
            <i class="far fa-trash-alt fa-5x"></i>
          </div>
          <div id="foo-date">
            20.12
          </div>
        </div>
        <div class="foo-yellow">
          <div id="foo-logo">
            <i class="far fa-trash-alt fa-5x"></i>
          </div>
          <div id="foo-date">
            20.12
          </div>
        </div>
      </div>
    </div>
    <div class="temp">
      <div class="temp-container">
        <div class="temp-el-inside">
          <div class="headline">
            <div id="text">Innen</div>
          </div>
          <div class="temperature">
            <div id="icon">
              <i class="fas fa-thermometer-three-quarters fa-4x"></i>
            </div>
            <div id="value">20 C°</div>
          </div>
        </div>
        <div class="temp-el-outside">
          <div class="headline">
            <div id="text">Außen</div>
          </div>
          <div class="temperature">
            <div id="icon">
              <i class="fas fa-thermometer-three-quarters fa-4x"></i>
            </div>
            <div id="value">5 C°</div>
          </div>
        </div>
      </div>
    </div>
    <div class="spotify">
      <div class="spotify-container">
        <details>
          <summary></summary>
          <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions,
            award-winning fireworks and seasonal special events.</p>
        </details>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename = 'clock.js') }}"></script>
  <script src="{{ url_for('static', filename = 'sunrise.js') }}"></script>
  <script src="{{ url_for('static', filename = 'weather.js') }}"></script>
  <script src="{{ url_for('static', filename = 'weather_forecast.js') }}"></script>
  <script src="{{ url_for('static', filename = 'bin.js') }}"></script>
  <script src="{{ url_for('static', filename = 'temperature.js') }}"></script>
  <script src="{{ url_for('static', filename = 'temperature_graph.js') }}"></script>

</body>

</html>